<h1>カレンダーページ</h1>
<%= month_calendar do |date| %>
<%= date %>
<% end %>

<%= render partial: 'babies/footer' %>




<%#= calendar.head('日', '月', '火', '水', '木', '金', '土') %>
  <%#= calendar.day do |date, events| %>
    <%#= date.day %>
    <%# events.each do |event| %>
      <%#= event.name %>
    <%# end %>
  <%# end %>