<header class="babies-header">
  <h2 class="header-text">赤ちゃんの追加・編集</h2>
</header>

<div class="babies-index-main">
  <div class="babies-index-main1">
    <table class="custom-table">
      <% @babies.each do |baby| %>
        <tr>
          <td class="custom-td">
            <div class="baby-link">
              <%= link_to "#{baby.nickname} (#{baby.sex_i18n} #{baby.date_of_birth})", edit_baby_path(baby.id),
                  class: "w-100 h-75", style: "color: black;"
              %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="custom-td1">
          <div class="row" id="add-baby-link">
            <p>赤ちゃん新規登録</p>
          </div>

          <script>
            $(document).ready(function() {
              $('#add-baby-link').click(function() {
                window.location.href = "<%= new_baby_path %>";
              });
            });
          </script>
        </td>
      </tr>
    </table>
  </div>
</div>