<div class="container">
<div class="row">
  <div class='mx-auto col-sm-12 col-lg-8 col-xl-6'>
    <div class="mt-5 mb-5 text-center">
      <h1>登録が完了しました！</h1>
    </div>

    <div class="mt-5 mb-5 text-center">
      <p class="mt-1 mb-0 text-center">ニックネーム: <%= @nickname %></p>
    </div>
      
    <div class="mt-5 mb-5 text-center">
      <p class="mt-0 mb-0 text-center">性別: <%= @sex %></p>
    </div>
      
    <div class="mt-5 mb-5 text-center">
      <p class="mt-0 mb-0 text-center">生年月日: <%= @date_of_birth %></p>
    </div>
  
    <div class="row">
      <%= link_to '次へ', baby_path(current_user), method: :get, class: "btn btn-secondary btn-sm btn-block mb-5 次へ" %>
    </div>
  </div>
</div>
