<header>
  <h2 class="parents-header">マイページ</h2>
</header>

<div class="parents-show-main">
  <div class="parents-show-main1">
    <table class="custom-table">
      <% @babies.each do |baby| %>
        <tr>
          <td class="custom-td">
            <div class="baby-link">
              <%= link_to "#{baby.nickname} (#{baby.sex_i18n} #{baby.date_of_birth})", baby_path(baby.id),
                  class: "w-100 h-75", style: "color: black;"
              %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="custom-td1">
          <div class="row" id="add-baby-link">
            <p>赤ちゃんの追加・編集</p>
          </div>

          <script>
            $(document).ready(function() {
              $('#add-baby-link').click(function() {
                window.location.href = "<%= babies_path(@user)%>";
              });
            });
          </script>

          <div class="row" id="add-withdraw-link">
            <p>退会</p>
          </div>

          <script>
            $(document).ready(function() {
              $('#add-withdraw-link').click(function() {
                window.location.href = "<%= out_path %>";
              });
            });
          </script>
        </td>
      </tr>
    </table>
  </div>
</div>