/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *.
 #シンプルカレンダーの読み込み
 *= require simple_calendar
 #ここまで
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

body {
  font-family: 'Yomogi', cursive;
}

html {
  font-size: 100%;
}

.timer {
  font-size: 120px;
  text-align: center;
}

.controls {
  font-size: 15px;
  text-align: center;
}


/* デスクトップPCなどの中サイズモニタ（960px）以下の際に適用される設定 */
@media screen and (max-width:960px) {
  .timer {
    font-size: 50px;
  }
}

/* ノートPCなどの中サイズモニタ（720px）以下の際に適用される設定 */
@media screen and (max-width:720px) {
  .timer {
    font-size: 40px;
  }
}

/* タブレットなどの中サイズモニタ（540px）以下の際に適用される設定 */
// topページ
@media screen and (max-width:540px) {
  .custom-heading-1 {
    font-size: 48px;
  }

  .footer-text1 {
    font-size: 11px;
  }

  input[type="email"] {
      width: 270px;
    }

  input[type="password"] {
      width: 270px;
    }

  input[type="password_confirmation"] {
      width: 270px;
    }

  .custom-table tr,
  .custom-table td {
    display: block;
    width: 300px;
  }
  .custom-td1 {
    text-align: center;
  }
}